manifest {
    author = 'Dan Fornika <dan.fornika@bccdc.ca>'
    name = 'BCCDC-PHL/alignment-variants'
    description = 'Alignment and variant calling pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '0.1.14'
}

params {
    profile = false
    cache = ''
    illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
    nanopore_suffixes = ['*_RL']
    fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
    fastq_illumina_search_path = makeFastqSearchPath( params.fastq_input, illumina_suffixes, fastq_exts )
    fastq_nanopore_search_path = makeFastqSearchPath( params.fastq_input_long, nanopore_suffixes, fastq_exts )
    fastq_input = 'NO_FILE'
    fastq_input_long = 'NO_FILE'
    samplesheet_input = 'NO_FILE'
    filtlong_min_length = 1000
    filtlong_keep_percent = 90
    min_depth = 10
    min_base_qual_for_variant_calling = 20
    min_mapping_qual_for_variant_calling = 30
    min_alternate_count_for_variant_calling = 2
    min_alternate_fraction_for_variant_calling = 0.1
    qualimap_coverage_histogram_limit = 100
    coverage_by_depth_limit = 500
    coverage_plot_y_limit = 500
    coverage_plot_log_scale = false
    coverage_plot_width_inches_per_mb = 3
    coverage_plot_height_inches_per_chrom = 2
    coverage_plot_window_size = 1000
    qualimap_memory = '4G'
    align_untrimmed_reads = false
    skip_alignment_cleaning = false
    align_long_reads = false
    ref = 'NO_FILE'
    outdir = 'results'
    collect_outputs = false
    collected_outputs_prefix = 'collected'
    pipeline_short_name = parsePipelineName(manifest.toMap().get('name'))
    pipeline_minor_version = parseMinorVersion(manifest.toMap().get('version'))
}

def makeFastqSearchPath ( base_path, fastq_suffixes, fastq_exts ) {
    def fastq_search_path = []
    for (suffix in fastq_suffixes){
        for (ext in fastq_exts) {
            fastq_search_path.add(base_path.toString() + '/' + suffix.toString() + ext.toString())
        }
    }
    return fastq_search_path
}

def parseMinorVersion(version) {
    minor_version = version.split('\\.')[0..1].join('.')
    return minor_version
}

def parsePipelineName(name) {
    short_name = name.split('/')[1]
    return short_name
}

profiles {
    conda {
	conda.enabled = true
	process.conda = "$baseDir/environments/environment.yml"
	if (params.cache){
	    conda.cacheDir = params.cache
	}
    }

    apptainer {
        apptainer.enabled = true
        process.container = "oras://ghcr.io/bccdc-phl/alignment-variants:775751a430ea765a"
        if (params.cache){
            apptainer.cacheDir = params.cache
        }
}

process {
    withName: bwa_mem {
	cpus = 24
    }
    withName: minimap2 {
	cpus = 12
    }
    withName: qualimap_bamqc {
	cpus = 16
	memory = '36G'
    }
    withName: plot_coverage {
	conda = "$baseDir/environments/plot_coverage.yml"
    container = "oras://ghcr.io/bccdc-phl/alignment-variants-plot-coverage:e9de1da959e4e7e7"
    }
}
